html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
}

#map {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

#control-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    width: 500px;
    padding: 6px 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

#mouse-position {
    font-size: 14px;
    color: #333;
}

input[type="file"] {
    font-size: 14px;
}
